spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    defer-datasource-initialization: true
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
app:
  jwt:
    secret-key: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}
